{% extends 'tour/base.html' %}
{%  load static %}
{% block content %}
   <div class="wrapper container">
    <div class="about-us-page">
        <div class="about-us-page__sub-title">О компании</div>
        <div class="about-us-page__title">Bai Travel</div>
        <div class="about-us-page__text">
            Bai Travel Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur alias commodi consequatur eligendi provident. Maiores dolore unde, mollitia illum a, illo quisquam consequatur aliquid eos, perferendis nobis sint similique id iusto explicabo ipsam adipisci qui consequuntur voluptatibus nesciunt quasi placeat! Molestias aspernatur placeat commodi delectus? Hic qui excepturi, dolor alias sed aspernatur assumenda facere saepe earum voluptatum ea culpa quo impedit ab tempora officia a, labore corrupti! Molestiae sit enim dolorum doloremque a error qui? Velit molestias fugit quas culpa?
        </div>
        <img src="{% static 'img/image3.jpg'%}" class="about-us-page__img" alt="">
        <div class="about-us-page__text">
            Bai Travel Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur alias commodi consequatur eligendi provident. Maiores dolore unde, mollitia illum a, illo quisquam consequatur aliquid eos, perferendis nobis sint similique id iusto explicabo ipsam adipisci qui consequuntur voluptatibus nesciunt quasi placeat! Molestias aspernatur placeat commodi delectus? Hic qui excepturi, dolor alias sed aspernatur assumenda facere saepe earum voluptatum ea culpa quo impedit ab tempora officia a, labore corrupti! Molestiae sit enim dolorum doloremque a error qui? Velit molestias fugit quas culpa?
        </div>
        <div class="about-us-page__text">
            Bai Travel Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur alias commodi consequatur eligendi provident. Maiores dolore unde, mollitia illum a, illo quisquam consequatur aliquid eos, perferendis nobis sint similique id iusto explicabo ipsam adipisci qui consequuntur voluptatibus nesciunt quasi placeat! Molestias aspernatur placeat commodi delectus? Hic qui excepturi, dolor alias sed aspernatur assumenda facere saepe earum voluptatum ea culpa quo impedit ab tempora officia a, labore corrupti! Molestiae sit enim dolorum doloremque a error qui? Velit molestias fugit quas culpa?
        </div>
        <img src="{% static 'img/image3.jpg '%}" class="about-us-page__img" alt="">
    </div>
    <center>
        <a href="{% url 'tours' %}" class="button about-us-page__btn">Выбрать тур</a>
    </center>
   </div>
</body>
{% endblock %}