{% extends 'tour/base.html'  %}
{%  load static %}
{% block content %}
<body id="body">
    <div class="carousel__container">
        <div class="carousel__prev-btn">
            <img src="{% static 'img/icons/arrow transparent.svg' %}" alt="">
        </div>
        <div class="carousel__next-btn">
            <img src="{% static 'img/icons/arrow transparent.svg' %}" alt="">
        </div>

        <div class="carousel__to-current-btns">
            <button type="button" class="carousel__to-current-btn active"></button>
            <button type="button" class="carousel__to-current-btn"></button>
            <button type="button" class="carousel__to-current-btn"></button>
        </div>

    <div class="carousel">
        {% for i in carusel%}
        <div class="carousel__item">
            <div class="carousel__blackout"></div>
            <div class="carousel__img">
                <img src="{{ i.photo.url }}" alt="">
            </div>
            <div class="carousel__inner-item">
                <div class="carousel__title">{{i.title}}</div>
                <div class="carousel__text">{{i.content}} </div>
                <div>
                    <a href="{% url 'tours' %}" class="carousel__btn">Забронировать</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

   <div class="wrapper">

    <div class="white-stamp">
        <div class="container">
            <div class="title">Наши премущества</div>
               <div class="about-us__container">
                   <div class="about-us__item">
                       <div class="about-us__icon">
                           <img src="{%static 'img/icons/chat_new 1.png' %}" alt="">
                       </div>
                       <div class="about-us__block">
                           <div class="about-us__name">Помощь 24/7</div>
                           <div class="about-us__text">
                               Ответим на ваши вопросы по телефону и в мессенджерах за короткий промежуток времени.
                           </div>
                       </div>
                   </div>
                   <div class="about-us__item">
                       <div class="about-us__icon">
                           <img src="{%static 'img/icons/win_new 1.png'%}" alt="">
                       </div>
                       <div class="about-us__block">
                           <div class="about-us__name">Качество и надёжность</div>
                           <div class="about-us__text">
                               За 25 лет работы мы отправили на отдых более 1 млн туристов.
                           </div>
                       </div>
                   </div>
                   <div class="about-us__item">
                       <div class="about-us__icon">
                           <img src="{%static 'img/icons/wallet_new 1.png'%}" alt="">
                       </div>
                       <div class="about-us__block">
                           <div class="about-us__name">Выгодные цены</div>
                           <div class="about-us__text">
                               Бронирование любого тура. Услуги по выгодным ценам.
                           </div>
                       </div>
                   </div>
               </div>
        </div>
    </div>
    <div class="container">

        <div class="title">Горящие туры</div>
        <ul class="tour-cards__container">
        {% for tour in hottours %}

            <li class="tour-cards__item">
                <div class="tour-cards__inner-item">
                    <a href="{% url 'tour_detail' id=tour.tour.id %}" class="tour-cards__img">
                        <img src="{{tour.tour.photo.url}}" alt="">
                    </a>  
                    <div class="tour-cards__block">
                        <div class="tour-cards__name">{{ tour.tour.name }}</div>
                        <div class="tour-cards__place">{{ tour.tour.place }}</div>
                        <span class="tour-cards__date">{{ tour.tour.data_provedenya_start }}</span> - 
                        <span class="tour-cards__date">{{ tour.tour.data_provedenya_end }}</span>
                        <div class="tour-cards__price">
                            <span class="tour_cards__new-price">{{ tour.tour.price_of_tour }} сом</span>
                            <span class="tour_cards__old-price">{{ tour.tour.price_of_tour }}</span>
                        </div>
                        <a href="{% url 'tour_detail' id=tour.tour.id %}" class="tour-cards__btn">Подробнее</a>
                    </div>   
                    <div class="tour_cards__sale">{{ tour.tour.discount }}%</div>        
                </div>
            </li>
        {% endfor %}

        </ul> 
        <center>
            <a href="{% url 'tours' %}" class="button">Смотреть все туры</a>
        </center>
    </div>

    <div class="container">
        <div class="reclame">
            <img src="{% static 'img/реклама.jpg' %}"  class="reclame__img">
        </div>
    </div>

        <div class="white-stamp">
            <div class="container">
                <div class="title">Фото галерея</div>
                <div class="gallery__container">
                    {% for i in photos|slice:":5" %}
                    <div class="gallery__item">
                        <div class="gallery__inner-item">
                            <img src="{{ i.photo.url }}" alt="">
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <center>
                    <a href="{% url 'photos'%}" class="button">Смотреть все фото</a>
                </center>
            </div>
        </div>

        <div class="container">
            <div class="title">Отзывы</div>
            <div class="reviews__container">
                {% for i in otzyv|slice:":3" %}
                <div class="reviews__item">
                    <div class="reviews__inner-item">
                        <div class="reviews__img">
                            <img src="{{i.photo.url}}" alt="">
                        </div>
                        <div class="reviews__block">
                            <div class="reviews__name">{{ i.author }}</div>
                            <div class="reviews__text">
                                {{i.content}}                                
                            </div>
                            <div class="reviews__date">{{i.created_at}}</div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <center>
                <a href="{% url 'photos'%}" class="button">Смотреть все отзывы</a>
            </center>
        </div>
    </body>
{% endblock content %}
