{% extends 'tour/base.html' %}
{%  load static %}
{% block content %}

<body id="body">
<div class="container">
    <div id="client-form" class="client-form" style="display: none;">
        <form action="" id="bidsForm2" class="client-form__container" method="POST" >
        {% csrf_token %}
            <input type="hidden" name="tour_id" value="{{ tour.id }}">
            <div class="client-form__close" id="closeModal"></div>
            <div class="client-form__title">Заполните анкету</div>
            <div class="client-form__line line"></div>
            <label  class="client-form__label">Введите ФИО</label>
            <input name="full_name" type="text" class="client-form__input input">
            <label   class="client-form__label">Введите вашу электронную почту</label>
            <input name="email" type="email" class="client-form__input input">
            <label  class="client-form__label">Введите номер телефона</label>
            <input name="phone_number" type="text" class="client-form__input input">
            <button id="client-form__button" class="client-form__button">Отправить</button>
        </form>
    </div>

<div class="tour__container">   

    <div class="routs">
        <a href="{% url 'main' %}" class="routs__item">
            Главная 
        </a>
        <a href="{% url 'tours' %}" class="routs__item">
            Туры
        </a>
        <a href="#" class="routs__item">
            {{tour.name}}
        </a> 
    </div>
    <div id="{{tour.id}}" class="tour__name">{{ tour.name}}</div>
    <div class="tour__location">
        <span class="icon tour__icon">
            <img src="{% static 'img/icons/location.svg' %}" >
        </span>
        {{tour.place}}
    </div>
    <div class="tour__body">
        <div class="tour__img-block">
            <div class="tour__main-img">
                <img src="{{ tour.photo.url}}" alt="">
            </div>
            <div class="tour__sub-imgs">
            {% for img in tour.photos.all %}
                <div class="tour__inner-img">
                    <div class="tour__sub-img">
                    <img src="{{ img.photo.url}}" alt="">
                    </div>
                </div>
            {% endfor %}

            </div>  
        </div>

        <div class="tour__info-block">
            <div class="tour__info-title">Информация о туре</div>
            <div class="tour__schedule">
                <div class="tour__schedule-item">
                    <div class="tour__schedule-title">Туда</div>
                    <div class="tour__schedule-date"> {{tour.data_provedenya_start}} </div>
                </div>
                <div class="tour__schedule-item">
                    <div class="tour__schedule-title">Обратно</div>
                    <div class="tour__schedule-date">{{tour.data_provedenya_end}}</div>
                </div>
            </div>
            <div class="tour__info-item">
                <div class="tour__info-secondary-text">
                    <span class="icon tour__icon">
                        <img src="{% static 'img/icons/calendar.svg' %}">
                    </span>
                    Длительность
                </div>
                <div class="tour__info-primary-text">
                    {{duration}}
                </div>
            </div>
            <div class="tour__info-item">
                <div class="tour__info-secondary-text">
                    <span class="icon tour__icon">
                        <img src="{%static 'img/icons/2users.svg' %}">
                    </span>
                    Количество человек
                </div>
                <div class="tour__info-primary-text">
                    <input type="number" id="number_of_people" name="number_of_people" value="1" class="tour__input">
                </div>
            </div>
            <div class="tour__notice-text">осталось {{tour.total_people}} человек</div>         
            <div class="tour__line line"></div>
    
            <div class="tour__info-item">
                <div class="tour__info-secondary-text">
                    Стоимость тура
                </div>
                <div class="tour__info-primary-text">
                    {{tour.price_of_tour}}
                </div>
            </div>
            <div class="tour__info-item">
                <div class="tour__info-secondary-text">
                    Скидка
                </div>
                <div class="tour__info-secondary-text">
                    {{tour.discount}}%
                </div>
            </div>
            <div class="tour__info-item">
                <div class="tour__total-text">Итого</div>
                <div class="tour__total-price">{{tour.discount_price}} сом</div>
            </div>
            <div class="tour__info-item">
                <div class="tour__info-secondary-text">
                    Рассрочка
                </div>
                <div class="tour__info-secondary-text">
                    800 сом/месяц
                </div>
            </div>
            <button id="consultation-btn" class="tour__btn">Получить бесплатную консультацию</button>
        </div>

         <div class="tour__description">
            <div class="tour__description-title">Программа тура</div>
            <div class="tour__line line"></div>
            <div class="tour__description-sub-title">День1</div>
            <div class="tour__description-sub-date">Бишкек — Кызарт – Килемче</div>
            <div class="tour__description-sub-text">
                {{tour.description}}
            </div>
            <div class="tour__description-sub-text">
                {{tour.description}}

            </div>
        </div>

    </div>
    
</div>    
</div>
</body>

{% endblock content %}
