{% extends 'tour/base.html' %}
{%  load static %}
{% block content %}

<body id="body">
<div class="container">
    <div class="title2">
        <span>Все туры</span>
    </div>
    <ul class="tour-cards__container">
        {% for tour in tour %}
        <li class="tour-cards__item">
            <div class="tour-cards__inner-item">
               <div class="tour-cards__img"> <a href="{% url 'tour_detail' id=tour.id %}"></div>
                    <img src="{{tour.photo.url}}" alt="">
                </a>  
                <div class="tour-cards__block">
                    <div class="tour-cards__name">{{ tour.name }}</div>
                    <div class="tour-cards__place">{{ tour.place }}</div>
                    <span class="tour-cards__date">{{ tour.data_provedenya_start }}</span> - 
                    <span class="tour-cards__date">{{ tour.data_provedenya_end }}</span>
                    <div class="tour-cards__price">
                        <span class="tour_cards__new-price">{{ tour.price_of_tour }} сом</span>
                        <span class="tour_cards__old-price">{{ tour.price_of_tour }}</span>
                    </div>
                    <a href="{% url 'tour_detail' id=tour.id %}" class="tour-cards__btn">Подробнее</a>
                </div>   
             <div class="tour_cards__sale">{{ tour.discount }}%</div>  
        </li>
        {% endfor %}
    </ul>   
</div>       
</body>
{% endblock content %}
