{% extends 'tour/base.html' %}
{%  load static %}
{% block content %}
   <div class="wrapper container">
    <div class="about-us-page">
        <div class="about-us-page__sub-title">О компании</div>
        <div class="about-us-page__title">Гостиница Ала-Тоо</div>
        <div class="about-us-page__text">
Добро пожаловать в гостиницу "Ала-Тоо" — место, где комфорт и гостеприимство сливаются с красотой природы и теплотой кыргызских традиций.

Наша гостиница расположена в живописном уголке, который сочетает уют современного сервиса с атмосферой спокойствия и гармонии. Мы гордимся тем, что предоставляем гостям уникальную возможность отдохнуть от городской суеты, наслаждаясь красотой горных пейзажей и свежим воздухом.
        </div>
        <img src="{% static 'img/onas.jpg'%}" class="about-us-page__img" style="width: 1024px; height: 700px; text-align: center;" alt="">
        <div class="about-us-page__text">

            Почему выбирают "Ала-Тоо"?

            Комфортные номера: Уютные и полностью оборудованные номера для вашего комфортного отдыха.
            Удобное расположение: Мы находимся вблизи ключевых достопримечательностей и природных красот региона.
            Традиционное гостеприимство: Каждого гостя мы встречаем с теплотой и заботой, чтобы вы чувствовали себя как дома.
            Дополнительные услуги: Ресторан с национальной и европейской кухней, экскурсии, конференц-зал и многое другое.
            Мы стремимся сделать ваше пребывание незабываемым! В гостинице "Ала-Тоо" вы найдете все, что нужно для отдыха, работы или путешествия.
            
            Ждем вас в гости, чтобы подарить вам тепло, уют и яркие воспоминания!        </div>
    </div>
    <center>
        <a href="{% url 'tours' %}" class="button about-us-page__btn">Выбрать тур</a>
    </center>
   </div>
</body>
{% endblock %}